body {

  font-family: "Roboto Mono", Roboto, sans-serif;
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* Stage Structure Styles */

#stage {
  width: 100%;
  height: 100%;
  border: 10px solid #5a7785;
  background-color: #90a4ae;
  background-image: url(../images/mainimage.jpg);

  position: fixed;
  top: 0;
}


.topic-btn {
  /* position: relative; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 32px;
  border-radius: 2px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: aquamarine;
  /* height: 100%; */
  /* display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  /* padding: 12px; */
  margin: 5px;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 400;
}

.btn {
  /* position: relative; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 32px;
  border-radius: 2px;
  font-size: 15px;
  outline: none;
  border: none;

  font-family: "Roboto Mono", Roboto, sans-serif;

}

.topic-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
  background-color: darkgrey;
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
  background-color: rgba(42, 159, 212, 0.603);
}

.card {
  width: 50%;
  margin-left: 50px;
}

.movie {
  font-weight: bold;
  color: aliceblue;
 
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.movie{
  margin-left: 10%;
}
.row{
  margin: 10px;
}